body{
    background-image:url(images/weather\ back1.jpg) ;
    background-size: cover;
}


.container {
        max-width: 400px;
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .container {
        max-width: 400px;
        margin: 150px auto;
        text-align: center;
        padding: 30px 40px;
        border-radius: 20px;
        background: linear-gradient(to bottom, #485c64 0%, #23538A 100%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    h1 {
        margin-bottom: 20px;
        color: #fff;
    }
    
    .input-container {
        margin-bottom: 20px;
    }
    
    input[type="number"],
    select {
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    #result {
        font-size: 20px;
        margin-top: 20px;
        color: #fff;
    }
    
    

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="number"], select {
    padding: 10px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 20px;
    margin-top: 20px;
   color: white;
   
}
